* {
  box-sizing: border-box;
}

html, body {margin: 0; height: 100%; overflow: hidden}

html {
  --bg: #062552;
  --fg: #1e1e1e;
  --gray: #555;
  --light-gray: #ccc;
  --shadow: #e6e6e6;
  --success: rgb(90, 206, 132);
  --primary: #085FD7;
  --secondary: #478ec8;

  color: var(--fg);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  line-height: 1.3;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: #eee;
}

h1 {
  color: -webkit-linear-gradient(#2D328A, #5EC8D9);
}

.bg {
  position: absolute;
  max-width: 1000px;
  max-height: 800px;
  z-index: -1;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #040E33EE;

  padding: 10px 30px;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.column{
  width: 50%;
  float:left;
}

main {
  padding: 2em;
  text-align: justify;
  background-color: #f2f2f2;
  z-index: 1;
  border-radius: 8px;
}

.ptop5 {
  padding-top: 10px;
}

.pbot5 {
  padding-bottom: 10px;
}

.pright5 {
  padding-right: 100px;
}

.mtop5 {
  margin-top: 30px;
}



.donation-box-head {
  text-align: center;
  background-color: #fff;
  margin: 0;
  border-radius: 8px 8px 0 0;
  padding: 1em 0em 2em 0em;
}

.field2 {
 margin: 20px;
 padding: 30px;
 background-color: #040E33EE;
 border-radius: 30px;
}

.field1 {
  margin: 20px;
  padding: 20px;
  background-color: #040E33EE;
  border-radius: 30px;
 }

.logo {
  background-image: url(logo-black.svg);
  background-position: center 0em;
  background-repeat: no-repeat;
  position: relative;
  top: -2em;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 15px 25px;
  height: 40px;
  border-radius: 50px;
  width: 50px;
  box-shadow: #bbb 0px 2px 5px;
}

a,
.link {
  color: var(--primary);
  text-decoration: none;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
  background-color: var(--secondary);
}
a:active,
.link:active {
  color: var(--secondary);
}

.btn-outline-primary{
  width: 100%;
}

button, input {
  font: inherit;
  outline: none;
}


button.link {
  background-color: #085FD7;
  padding: 10px 20px;
  color: #eee;
  border: none;
  box-shadow: none;
  border-radius: 7px;
  margin-top: 5px;
}

.goback {
  position:absolute;
  background-color: #085FD7;
  color: #eee;
  border: none;
  box-shadow: none;
  border-radius: 7px;
  margin-left: 20px;
}

.goindex {
  background-color: #085FD7;
  color: #eee;
  padding: 5px 20px;
  border: none;
  box-shadow: none;
  border-radius: 7px;
}

.gotax {
  background-color: #085FD7;
  color: #eee;
  padding: 5px 20px;
  border: none;
  box-shadow: none;
  border-radius: 7px;
  margin-left: 20px;
}

.taxslip {
  background-color: #085FD7;
  color: #eee;
  padding: 5px 20px;
  border: none;
  box-shadow: none;
  border-radius: 7px;
}



fieldset {
  border: none;
  padding: 2em 0;
}

form {
  margin: 0.2em -0.5em -1em -0.5em;
}

aside {
  animation: notify ease-in-out 10s;
  background-color: var(--shadow);
  border-radius: 5px;
  bottom: 0;
  font-size: 0.8em;
  margin: 1em;
  padding: 1em;
  position: fixed;
  transform: translateY(10em);
  right: 0;
}
aside footer {
  display: flex;
  font-size: 0.9em;
  justify-content: space-between;
  margin-top: 0.5em;
}
aside footer *:first-child {
  color: var(--success);
}
aside footer *:last-child {
  color: var(--gray);
}

@keyframes notify {
  0% { transform: translateY(10em) }
  5% { transform: translateY(0) }
  95% { transform: translateY(0) }
  100% { transform: translateY(10em) }
}

